body {
    /*background-image: url('./MatiasMedia/Main\ Page\ Wireframe.jpg');*/
    margin: 0;

}
button {
    border-radius: 0;
}

h1, h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 29px;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
}

p {
    font-family: 'Ubuntu', sans-serif;

    margin-bottom: 1.15rem;
    font-size: clamp(1em, 1vw, 1.2em);
}

/* flex column preset */

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**/

.button {
    background-color: #383838;
    border: none;
    color: white;
    padding: 14px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.bodyContainer {
    display: flex;
    flex-direction: column;
}


.headerTop {
    width: 100%;
    height: 383px;
    background-color: #f65454;
    text-align: center;
    display: flex;
    justify-content: center;
}

.subtitle {
    font-size: 22px;
    margin-bottom: 35px;
}

.headerContentCenter {
    margin-top: 55px;
    width: 50%;
    color: black;
}

/* HEADER ADMIN PICS */

.headerAdminPics {
    display: flex;
    flex-direction: row;
    height: 0px;
    justify-content: center;
    position: relative;
    top: 61px;
}

.circleAdminPicsRow {
    width: 61%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container_cirleAdminPics {
    display: flex;
    width: 256px;
    justify-content: center;
    
}

.container_cirleAdminText {
    text-align: center;
    color: black;
}

.circleAdminPics {
    border-radius: 100%;
    width: 163px;
    height: 163px;
}

.headerBottom {
    width: 100%;
    height: 300px;
    margin: 0;
    background-color: #FDDDDE;
}

/* HEADER ADMIN PICS - End*/

.linkToPageA {
    border-top: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 426px; /* DEMO HEIGHT */
    margin: 0;
}

.linkToPageB {
    border-top: 1px solid #222222;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 415px; /* DEMO HEIGHT */
    margin: 0;
}

.linkToPageC {
    border-top: 1px solid #222222;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 419px; /* DEMO HEIGHT */
    margin: 0;
}

.linktoPagePic {
    width: 260%;
    background-color: #383838;
}

.linktoPageText-container {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linktoPageText {
    width: 60%;
}

/* carrousel */

.carrousel {
    background-color: #f65454;
    width: 100%;
    /* height: 500px; */
    margin: 0;
}

.carrouselText-container {
    background-color: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;    
}

.carrouselText {
    width: 80%;
}

.carrouselPic {
    width: 50%;      
}

.carrouselPicJPEG {
    width: 100%;
    object-fit: cover; 
    overflow: hidden;
}

.linksToCourses {
    background-color: #ededed;
    width: 100%;
    height: 540px;
    margin: 0;
}

.footer {
    background-color: #f65454;
    width: 100%;
    height: 50px;
    margin: 0;
}