

/* This part is controlling the bigger container - the one that has 2 big divs, 
            the first and the last profiles to be presented on the page */

    /* Font sizes - Desktop options */

        p {
            margin-bottom: 1.15rem;
            padding-left: 25px;
            padding-right: 25px;
            font-size: clamp(1em, 1vw, 1.2em)
        }

        h2, h3, h4, h5 {
        margin: 0.5rem 0 0.5rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        line-height: 1.15;
        }
        
        h1 {
        margin-top: 1rem;
        margin-bottom:0;
        padding-left:15px;
        padding-right:15px;
        font-size: clamp(1.1em, 2.5vw, 2.5em);
        font-family: 'Press Start 2P', cursive;
        line-height: 1.3;
        text-align:center;
        }
        
        h2 {font-size: clamp(1.2em, 2vw, 1.7em);}
        h3 {font-size: clamp(1em, 1.6vw, 1.5em);}     
        h4 {font-size: clamp(1em, 1.3vw, 1.5em);}       
        h5 {font-size: clamp(1em, 1vw, 1.5em);}
        
        small, .text_small {font-size: 0.8em;}
            small, .text_small {font-size: 0.75em;}

            .text-decoration{
                font-family: 'Ubuntu', sans-serif;
                color: #dddddd; 
            }

    /* Tablet - options ---------------------------------------------*/  
        @media screen and (max-width: 1100px){

        }

    /* Mobile - options ----------------------------------------------*/ 
        @media screen and (max-width: 600px){

        }

  /* General ---------------------------------------------------------*/
    body{
        margin:0;
        padding:0;
    }

    /* Main container ------------------------------------------------*/
        .Members-bigger-main-container-top, 
        .Members-bigger-main-container-bottom {
            display: flex;
            align-items: center;
            height: 430px;
            background-color: #f65454;
            margin:0;
            /* border: 3px solid red; */
        }
        
        .Members-bigger-main-container-top div,
        .Members-bigger-main-container-bottom div {
            flex:1;
            /* border: 2px solid blue; */
        }

        /* Desktop - images -----------------------------------------*/
            #Member-bigger-image-top{
                background: url(Class_Members_Media/Woman-wide.jpg) no-repeat top;
                background-size: cover;
                overflow:auto;
            }
            #Member-bigger-image-bottom{
                background: url(Class_Members_Media/Man-wide.jpg) no-repeat top;
                background-size: cover;
                overflow:auto;

            }
            /* Arrow pointing left */
            .arrow-right{
                float: right;
                height:430px;
            }
            .arrow-left{
                transform: rotate(180deg);
                float:left;
                height:430px;
            }

        /* Desktop - texts ------------------------------------------------*/
            .Members-bigger-text-container{
                background-color: #f65454;
            }
            .Members-bigger-text{
                text-align:center;
            }
            .Members-bigger-text div{
                flex:1;
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;
            }
            .Members-bigger-text-paragraph{
                margin-top:4vw;
            }
            .Members-bigger-text-Origins{
                margin-top:50px;
                position:relative;
                
            }
            .Members-bigger-text-Origins::before{
                content:"";
                background-color: #dddddd;
                display:block;
                position: absolute;            
                width: 10vw;
                height:1px;
                top: 6;
                left: 50%;
                margin-left: -5vw;
                bottom:35px;

            } 

        /* Tablet - options ----------------------------------------------------*/  
            @media screen and (max-width: 1100px){
                /* Tablet - images */
                    .Members-bigger-main-container-top,
                    .Members-bigger-main-container-bottom {
                        height:300px;
                    }
                 /* Arrow pointing left */
                    .arrow-left{
                        max-height:300px;
                    }
                    .arrow-right{
                        max-height:300px;
                    }
                /* Tablet - texts */
                

        /* Mobile - options ----------------------------------------------------*/ 
            @media screen and (max-width: 600px){
             /* Mobile - images */
                    .Members-bigger-main-container-top{
                        /* display:none;                         */
                        flex-direction: column;
                        height:100%;
                    }  
                     .Members-bigger-main-container-bottom{
                        /* display:none; */
                        flex-direction: column-reverse; 
                        height:100%;
                    }
                    .bigger-image{
                        border: 1px solid black;
                        width:100%;
                        height:auto;
                    }
                 /* Arrow pointing up */
                    .arrow-right{
                        transform: rotate(90deg);
                        display:block;
                        width:100%!important;
                        height: auto!important;
                        max-height: 600px;
                    }
                    .arrow-left{
                        transform: rotate(90deg);
                        display:block;
                        width:100%!important;
                        height: auto!important;
                        max-height: 600px;
                    }

             /* Mobile - texts -------------------------------------------------*/
             .Members-bigger-text-Title{
                 margin-top:30px;
             }
                .Members-bigger-text-Origins{
                    margin-top:40px;
                    margin-bottom:30px;
                }  
                .Members-bigger-text-paragraph{
                    margin-top:25px;

/* ---------------> End of the first part */


/* The second part is for all the smaller images and texts */